<ng-container style="width: 100%; height: 100%;" *ngIf="shouldShowComponentPhotoParticipante">
  <div
    mat-dialog-content
    *ngIf="comentarios$ | async as comentarios"
    class="chip-comentarios"
    style="margin: 0; padding: 0 0 10px 0; border-bottom: 1px solid rgb(48, 48, 48); width: 100%; height: 100%;"
  >
    <mat-chip-listbox class="div-comment">
      <div class="div-select">
        <mat-chip-option
          *ngFor="let comentario of comentarios.Comentarios"
          color="primary"
          (click)="activateComment(comentario.mensaje, comentario.id)"
        >
          <h3 style="font-size: 7pt">{{ comentario.mensaje }}</h3>
        </mat-chip-option>
      </div>
    </mat-chip-listbox>
    <div class="container-comment">
      <ng-container *ngIf="optionSelected != null">

        <!-- <textarea matInput disabled="true" [value]="optionSelected"></textarea> -->

        <!-- <mat-form-field>
          <textarea matInput disabled="true" [value]="optionSelected"></textarea>
        </mat-form-field> -->

        <button
          mat-button
          color="primary"
          (click)="sendComment()"
          class="btn-send"
        >
          <mat-icon>send</mat-icon>
          Enviar mensaje
        </button>

      </ng-container>
    </div>

  </div>
</ng-container>
