.btn-send{
  outline: none;
  width: 20%;
}
.container-comment{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: red;
  flex-wrap: nowrap;
}
 mat-form-field{
  width: 70%;
}
