<mat-chip-listbox
  aria-label="Fish selection"
  *ngIf="categories$ | async as categorias"
  style="display: flex; justify-content: space-evenly;"
>
  <mat-chip-option
    style="font-size: 8pt"
    color = "warn"
    selected
    (click)="eventCategoria(0)"
  >
    Todos
  </mat-chip-option>
  <mat-chip-option
    *ngFor="let categoria of categorias.Categorias"
    style="font-size: 7pt"
    color="primary"
    (click)="eventCategoria(categoria.id)"
  >
    {{ categoria.nombre }}
  </mat-chip-option>
</mat-chip-listbox>
