<mat-chip-listbox aria-label="Fish selection">
  <mat-chip-option style="font-size: 8pt;" color="primary" selected>Persona y Naturaleza</mat-chip-option>
  <mat-chip-option style="font-size: 8pt;" color="accent">Agua</mat-chip-option>
  <mat-chip-option style="font-size: 8pt;" color="warn">Clima</mat-chip-option>
  <mat-chip-option style="font-size: 8pt;" color="primary">Paisaje</mat-chip-option>
  <mat-chip-option style="font-size: 8pt;" color="accent">Plantas y Hongos</mat-chip-option>
  <mat-chip-option style="font-size: 8pt;" color="warn">Vida Silvestre</mat-chip-option>
</mat-chip-listbox>
