<div class="cards" *ngIf="post">
  <div class="perfil">
    <img class="avatar" [src]="avatar" alt="" />
    <h2 class="nombre click" [routerLink]="['/profile/', post.participante.id]">
      {{ post.participante.nombres | titlecase }}
    </h2>
    <ng-container *ngIf="userAdminJurado$ | async as user">
      <ng-container *ngIf="user.rol === 'admin'">
        <button
          class="btn-delete"
          mat-button
          [matMenuTriggerFor]="menu"
          #menuTrigger
        >
          <b>...</b>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deletePost()">Eliminar</button>
        </mat-menu>
      </ng-container>
    </ng-container>
  </div>

  <div class="imagen">
    <img mat-button (click)="openDialogExpandir()" class="img" [src]="post.imagen.imagen_url" alt="" />
    <h4 class="lugar">
      <i class="input-icon uil uil-map-marker-alt"></i>
      {{ post.ciudad | titlecase }} - {{ post.lugar | titlecase }}
    </h4>
  </div>

  <div
    class="likes-comentarios-calificar"
    *ngIf="userAdminJurado$ | async as user"
  >
    <ng-container *ngIf="shouldShowComponentPhotoParticipante">
      <div *ngIf="user$ | async as userParticipante">
        <mat-icon
          *ngIf="
            userParticipante.rol === 'participante' &&
            user.rol !== 'participante'
          "
          aria-hidden="false"
          aria-label="Example favorite icon"
          fontIcon="favorite"
          (click)="likePost()"
          class="reacciones"
          ngClass="{{ isLikeOfMe && 'like-heart' }}"
        ></mat-icon>
      </div>
    </ng-container>
    <ng-container *ngIf="shouldShowComponentCalificar">
      <ng-container *ngIf="userAdminJurado$ | async as user">
        <div class="boton3" *ngIf="user.rol === 'jurado'">
          <a class="cali" mat-button (click)="openDialogCalificar()">{{
            verifyThisPostCalificated(user) ? "Ver Calificación" : "Calificar"
          }}</a>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="likes">
    <a class="like click-like" (click)="openModal('250ms', '400ms')">
      <b> {{ likeCount }} </b> Me gusta</a
    >
    <a class="like" mat-button (click)="openDialogComment()">
      <b>{{ postCount }}</b> Comentarios</a
    >
    <a class="like"> {{ post.fecha }} </a>
  </div>

  <div class="descripcion">
    <div class="encabezado">
      <h1 class="titulo">{{ post.titulo }}</h1>
      <h3 class="categoria">
        Categoria: {{ post.categoria.nombre | titlecase }}
      </h3>
    </div>
    <p class="parrafo">{{ post.descripcion }}</p>
  </div>
</div>
