.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    z-index: 99;
    width: auto;
    //height: 450px;
    height: 500px;
}

.dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.373);
    /* Fondo oscuro con transparencia */
    z-index: 10;
    /* Asegúrate de que el z-index del fondo oscuro sea inferior al cuadro de diálogo */
}

.overlay-close {
    /* Estilos para el botón de madera */
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
    margin: 20px;
    z-index: 4000;
}

.overlay-close img {
    /* Estilos para el icono del botón */
    width: 24px;
    /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    vertical-align: middle;
}

.container-head {
    position: relative;
    margin: 0 0 0 0;
    text-align: center;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 9%;
    border-bottom: 1px solid #282828;
}


.container-head-close {
    display: none;
}

.container-head-close img {
    /* Estilos para el icono del botón */
    width: 24px;
    /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    vertical-align: middle;
}

.container-head-back {
    background-color: #fbfbfb00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.container-head-back img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.container-head-continue {
    position: absolute;
    right: 0;
    /* Ajusta el valor de 'top', 'bottom', 'left' o 'right' según sea necesario */
    display: inline-block;
    background-color: #2195f300;
    border: none;
    border-radius: 5px;
    color: #0011ff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

.container-head-continue img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.container-head-post {
    background-color: #fbfbfb00;
    border: none;
    border-radius: 5px;
    cursor: default;
    position: absolute;
    right: 0;
    color: #505050;
}

.container-head-post-responsive {
    background-color: #fbfbfb00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #006aff;
}

.container {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 91%;
    display: flex;
    padding: 0px 0px 0 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container form {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 0px 0 0px;
    margin: 0;
}

.container-responsive {
    // background-image: url('https://i.gifer.com/IKYX.gif');
    // background-repeat: no-repeat;
    // background-size: 58% 100%;
    // border-bottom-right-radius: 0px;
    background-color: #1d1d1d00;
}

.container-fondo-agua {
    background-image: url('https://i.gifer.com/IKYX.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-fondo-clima {
    background-image: url('https://i.gifer.com/7AY9.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-fondo-paisaje {
    background-image: url('https://i.gifer.com/YS5X.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-fondo-PersonasNaturaleza {
    background-image: url('https://i.pinimg.com/originals/08/0f/49/080f49552d458c659f194507aa5e5f16.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-fondo-PlantasHongos {
    background-image: url('https://1.bp.blogspot.com/-bqL9UcCaVtE/YWqb_4glu6I/AAAAAAAAWTM/y7JA9RJUhuIcb-SxPH2CgAsC9QbKMHXggCLcBGAsYHQ/w400-h225/Du8.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-fondo-VidaSilvestre {
    background-image: url('https://i.gifer.com/Jr6a.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-foto {
    width: 410px;
    margin: 0;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

.container-foto-responsive {
    border-bottom-right-radius: 0px;
    background-color: rgb(0, 0, 0);
}

.container-foto-show {
    cursor: pointer;
    padding: 0px;
    text-align: center;
    margin: 0;
    height: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.container-foto-show-responsive {
    background-color: #b4b4b486;
    border-bottom-left-radius: 10px;
    cursor: auto;
    pointer-events: none;
}

.container-foto-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0px;
    margin: 0;
    flex: 1;
    width: 100%;
}

.container-foto-mesaje {
    height: 40%;
    text-align: center;
    align-items: end;
    display: flex;
}

.container-foto-error {
    height: 40%;
}

.container-foto-error img {
    height: 25px;
    width: 25px;
    display: block;
    margin: 0 auto;
}

.container-foto-error span {
    display: block;
}

.container-foto-mesaje span {
    margin-bottom: 10%;
    font-size: 20px;
}

.container-foto-ng {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-show-foto {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.container-selection-foto {
    width: 50px;
    height: 50px;
}

.foto-show {
    max-width: 405px;
    max-height: 451px;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 10px;
    max-width: 99%;
    margin: 0;
    max-height: 450px;
}

.container-descripcion {
    margin: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    padding: 0;
}

.container-descripcion-responsive {
    display: flex;
}

.container-descripcion-head {
    display: flex;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.177);
}

.descripcion-perfil {
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}

.descripcion-usuario {
    font-size: 9pt;
    margin: 0;
    font-weight: bold;
}

@media (max-width: 768px) {
  .descripcion-usuario{
    font-size: 7pt;
  }
}

.container-descripcion-body {
    width: 100%;
    max-height: 100%;
    //height: 395px;
    flex-grow: 1;
    //overflow: overlay;
    overflow-x: hidden;
    //overflow-y:  overlay;
    overflow-y: auto;
}

.container-descripcion-body span {
    font-size: 10px;
    display: block;
}

.container-descripcion-body::-webkit-scrollbar {
    width: 5px;
}

.container-descripcion-body::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

.container-descripcion-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.container-descripcion-body::-webkit-scrollbar-thumb:hover {
    background-color: #264357;
}

.container-descripcion-titulo-error {
    height: 10%;
}

.container-descripcion-titulo {
    width: 100%;
    display: flex;
}

.container-descripcion-titulo span {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.descripcion-titulo {
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    margin: 0 auto;
    height: 40%;
    flex-grow: 1;
}

.container-descripcion-error {
    width: 100%;
    flex-grow: 1;
    padding-left: 5%;
    display: flex;
    justify-content: right;
}

.container-descripcion-pie-error {
    height: 30%;
}

.container-descripcion-pie {
    height: 90%;
}

.container-descripcion-pie span {
    align-items: normal;
    margin-top: 5px;
}

.descripcion-pie {
    flex-grow: 1;
    height: 100%;
    padding: 0px 10px;
    font-size: 15px;
    border: none;
    resize: none;
}

.descripcion-pie::-webkit-scrollbar {
    width: 3px;
}

.descripcion-pie::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

.descripcion-pie::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.descripcion-pie::-webkit-scrollbar-thumb:hover {
    background-color: #264357;
}

.descripcion-pie-contador {
    color: #333;
    font-size: 10px;
    text-align: end;
    padding-right: 20px;
}

.container-descripcion-ubication {
    width: 100%;
    height: 35%;
}

.container-ubication-provincia {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.container-descripcion-provincia {
    display: flex;
    height: 100%;
    width: 95%;
}

.container-descripcion-combobox {
    width: 100%;
    padding: 5px 10px;
}

.my-custom-dropdown {
    color: #333333;
    height: 100%;
    font-size: 9pt;
}

.my-custom-option {
    background-color: #f2f2f2;
    color: #333333;
    cursor: pointer;
    font-size: 50px;
}

.my-custom-option span {
    font-size: 15px;
    height: 20px;
}

.my-custom-dropdown .my-custom-option:hover {
    background-color: #ffffff;
}

.my-custom-dropdown .my-custom-option.ng-option-selected {
    background-color: #ffcc00;
    color: #ffffff;
}

.container-descripcion-canton {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
}

.container-descripcion-canton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.container-descripcion-lugar {
    width: 95%;
    height: 100%;
}

.descripcion-lugar {
    width: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 15px;
    color: rgb(34, 34, 34);
    height: 100%;
    background-color: #0011ff00;
}

.descripcion-lugar:focus {
    outline: none;
}

.container-descripcion-categoria {
    width: 100%;
    height: 10%;
    background-color: #264357;
}

.descripcion-lugar,
.container-descripcion-combobox,
.descripcion-pie,
.descripcion-titulo {
    color: rgb(0, 0, 0);
    background-color: #ebebeb;
    outline: none;
    border-bottom: 1px solid #00ff7b;
    border-top-left-radius: 5px;
}

.descripcion-lugar::placeholder,
.my-custom-dropdown::placeholder,
.descripcion-pie::placeholder,
.descripcion-titulo::placeholder {
    color: #7f7e7e;
    font-size: 9pt;
}

.descripcion-pie:focus,
.descripcion-titulo:focus {
    background-color: #dbdbdb;
    border-bottom: 2px solid #00ff7b;
}

.descripcion-pie:hover,
.container-descripcion-combobox:hover,
.descripcion-pie:hover,
.descripcion-titulo:hover {
    background-color: #cfcfcfc3;
}

.container-descripcion-combobox:hover {
    border-bottom-width: 2px;
    /* Grosor de 2 píxeles en la parte inferior */
    border-bottom-style: solid;
}

.descripcion-lugar:focus {
    background-color: #dbdbdb;
    border-bottom: 2px solid #00ff7b;
}

.linea-invalidada {
    border-bottom: 1px solid #fe0000;
}

.linea-invalidada:focus {
    border-bottom: 2px solid #fe0000;
}

.linea-invalidada-select:hover {
    border-bottom: 2px solid #fe0000;
}

.icons-validation img {
    width: 10px;
    height: 10px;
}

.dropdown-panel {
    background-color: #c5111100;
}

// .container-descripcion-foto-responsive {
//     visibility: hidden;
//     display: none;
//     position: absolute;
// }
.ventana-fondo {
    position: fixed;
    top: -5%;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    /* Fondo oscuro con transparencia */
    z-index: 999;
    height: 105%;
}

.ventana-emergente {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 0px;
    z-index: 1000;
    width: 400px;
    height: 190px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.ventana-emergente-descartar {
    width: 100%;
    height: 25%;
    background-color: #ffffff00;
    cursor: pointer;
    border-top: 1px solid rgb(106, 106, 106);
    /* Borde superior */
    border-bottom: 1px solid rgb(106, 106, 106);
    border-left: none;
    border-right: none;
    color: #ff001e;
}

.ventana-emergente-cancelar {
    width: 100%;
    height: 25%;
    background-color: #ffffff00;
    cursor: pointer;
    border: none;
}

.ventana-emergente-cancelar:hover{
  color: #479600;
}


.ventana-emergente-titulo {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.ventana-emergente-titulo h2 {
    width: 100%;
    display: block;
    margin: 0;
}

.ventana-emergente-titulo h5 {
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
}

.categoria-container {
    width: 100%;
    height: 10%;
}

.container-categoria-provincia {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.container-selection-foto:hover {
    transform: scale(1.1);
}

.overlay-close:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none;
}

.dialog-container button:hover {
    outline: none;
    transform: scale(1.1);
}

.ventana-emergente button:hover {
    background-color: #bbbbbbad;
    font-weight: bold;
}

// .foto-show:hover {
//     transform: scale(1.2);
// }
.my-custom-dropdown ::after {
    content: "";
    margin-left: 5px;
    text-align: center;
    padding: 5px;
}

.ng-value-label::after {
    content: "▼";
    display: inline-block;
    margin-left: 5px;
}

@media only screen and (max-width: 590px) {
    .dialog-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(253, 253, 253);
        padding: 0px;
        z-index: 99;
        width: 100%;
        height: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 0px;
        display: flex;
        background-color: #006aff00;
        margin: 0;
    }
    .container-head {
        margin: 0;
        border-radius: 0;
        align-items: center;
        display: flex;
        height: 10%;
        background-color: #6a788700;
        padding: 0;
        width: 100%;
    }
    .container-head-close {
        display: block;
        background-color: transparent;
        border: none;
        position: absolute;
        cursor: pointer;
        margin: 5px;
        left: 0;
    }
    .container-head-continue {
        position: absolute;
        right: 10px;
    }
    .container-head-back {
        background-color: #fbfbfb00;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        left: 10px;
    }
    .container-foto-responsive {
        visibility: hidden;
        position: absolute;
    }
    .container-descripcion {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .container-descripcion-head {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        height: 10%;
    }
    .descripcion-perfil {
        width: 35px;
        border-radius: 50%;
        margin: 0;
    }
    .container-descripcion-body {
        width: 100%;
        height: 90%;
        padding: 10px;
    }
    .container-descripcion-body::-webkit-scrollbar {
        width: 0px;
    }
    .descripcion-pie {
        background-color: #a4a4a434;
        width: 70%;
    }
    .container-descripcion-foto-responsive {
        margin: 0;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .container-descripcion-foto-responsive img {
        max-height: 100px;
    }
    .container-descripcion-categoria {
        width: 100%;
        border-bottom: 1px solid #ccc;
        height: 50px;
    }
    .ventana-emergente {
        position: fixed;
        background-color: rgb(255, 255, 255);
        padding: 0px;
        z-index: 1000;
        width: 80%;
        height: 30%;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .descripcion-usuario{
      font-size: 12pt;
      margin-left: 3px;
    }
}

.my-custom-dropdown{
  display: flex;
  justify-content: left;
  text-align: start;
}

.my-custom-option{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
}
