h2{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  color: rgb(71, 70, 70);
}

h1{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid;
  border-color: rgb(141, 138, 138);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.mat-content{
  padding: 15px 20px;
}
app-modal-create-comment{
  width: 100%;
}
