<h1 mat-dialog-title>Likes</h1>
<div mat-dialog-content class="modal-content" >
  <ng-container *ngIf="post$ |async as post">
    <app-list-user  (click)="goToProfile(user.participante.id)" [user]="user.participante" *ngFor="let user of post.like"  ></app-list-user>
      <ng-container *ngIf="post.like.length<1">
        <h5>No hay me gusta, sé el primero en darle me gusta.</h5>
      </ng-container>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

