<ng-container *ngIf="jurado">

  <app-header-profile-jurado [jurado]="jurado"></app-header-profile-jurado>
  <div class="categoria">
    <app-chip-category (newItemEvent)="recibirCategoria($event)" />
  </div>
  <ng-container *ngIf="posts">
    <app-photo-gallery-calificar [photo]="posts.data" infinite-scroll (scrolled)="onScrollDown()" />
    <button (click)="goToTopScroll()" *ngIf="showButton" mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </ng-container>
</ng-container>
