<div> <!-- AQUI VA EN *ngFor RECORRELO AQUI PARA NO MODIFICAR LOS ESTILOS -->
  <div class="cuerpo">
    <div class="avatar">
      <img class="img-user" src="https://res.cloudinary.com/darohu37k/image/upload/v1686431916/Minimizar%20img/Avatar_1_1_jrtrbu.png" alt="">
    </div>
    <div class="contenido">

      <div class="nombre">
        <h3 class="nombre-user">KEYRON DAMIAN AGUILAR ORTIZ</h3>
      </div>

      <div class="comentario">
        <P class="comentario-user">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur eos quos vel repellendus.</P>
      </div>

    </div>
  </div>
</div>

