
  <!-- <nav>


  <!-- <body style="padding-top: 22px; display: flex; justify-content: center">
  <div class="scroll">
    <div class="categoria">
      <app-chip-category class="app-chip-category"  (newItemEvent)="recibirCategoria($event)"></app-chip-category>
    </div>
    <div class="scroll-infinito">
      <ng-container *ngIf="posts$ | async as posts ">
        <app-post class="app-post"  *ngFor="let post of posts.data" [post]="post"></app-post>
      </ng-container>

    </div> -->
  <body
    style="
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      position: relative;
    ">

    <app-progress-bar />
    <div class="navegador">
      <app-navbar [user]="user"></app-navbar>
    </div>

    <div class="cuerpo">

      <div class="scroll">

        <div class="categoria">
          <app-chip-category class="app-chip-category" (newItemEvent)="recibirCategoria($event)"></app-chip-category>
        </div>

        <div class="scroll-infinito">

          <!-- Estatico borrar apenas termine -->

          <div class="cards">

            <div class="perfil">
              <img class="avatar" src="https://res.cloudinary.com/darohu37k/image/upload/v1686431916/Minimizar%20img/Avatar_1_1_jrtrbu.png" alt="">
              <h2 class="nombre">Keyron Damian Aguilar Ortiz</h2>
            </div>

            <div class="imagen">
              <img class="img" src="https://ichef.bbci.co.uk/news/640/cpsprodpb/D445/production/_106414345_playaelsalvador.jpg" alt="">
              <h4 class="lugar"> <i class="input-icon uil uil-map-marker-alt"></i> Manabí - Manta - Playa Murcielago</h4>
            </div>

            <div class="likes-comentarios-calificar">
              <div>
                <i class="reacciones input-icon uil uil-heart"></i>
                <i class="reacciones input-icon uil uil-comment-dots"></i>
              </div>
              <div class="boton3">
                <a class="cali" href="">Calificar</a>
              </div>
            </div>

            <div class="likes">
              <a class="like" href=""> <b>641</b> Me gusta</a>
              <a class="like" mat-button (click)= "openDialog()"> <b>50</b> Comentarios</a>
            </div>

            <div class="descripcion">
              <div class="encabezado">
                <h1 class="titulo">El rebote de las olas</h1>
                <h3 class="categoria">Categoria: Agua</h3>
              </div>
              <p class="parrafo">Esta imagen esta basada en hechos que ocurrieron en Manta sobre un bosque en donde se pudo observar una fauna muy hermosa que transmitio tomar esta foto.</p>
            </div>

          </div>

          <!-- Estatico borrar apenas termine-->

          <ng-container *ngIf="posts$ | async as posts">
            <app-post class="app-post" *ngFor="let post of posts.data" [post]="post"></app-post>
          </ng-container>
        </div>

      </div>

      <ng-container *ngIf="user">
        <div
          *ngIf="user.rol === 'participante'"
          class="user"
          [routerLink]="['/profile/', user.id]"
          routerLinkActive="router-link-active">

          <app-user-information class="app-user-information" [user]="user"></app-user-information>

        </div>
      </ng-container>

    </div>

  </body>
