<body style="display: flex; width: 100%; height: 100%; justify-content: center; position: relative;">
  <div class="navegador">
    <app-navbar></app-navbar>
  </div>

  <div class="cuerpo">

    <div class="scroll">
      <div class="categoria">
        <app-chip-category class="app-chip-category"></app-chip-category>
      </div>
      <div class="scroll-infinito">
        <app-post class="app-post"></app-post>
      </div>
    </div>

    <div class="user">
      <app-user-information class="app-user-information"></app-user-information>
    </div>

  </div>
</body>

