.mat-success{
  color: white;
  background-color: green;
}
.mat-danger{
  color: white;
  background-color: red;
}
.mat-warning{
  color: white;
  background-color: yellow;
}
.mat-info{
  color: white;
  background-color: blue;
}
