.user{
  display: flex;
}

.avatar{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombre{
  width: 85%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.img-user{
  width: 90%;
  max-width: 40px;
  border-radius: 50px;
}

.nombre-user{
  font-size: 70%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(60, 60, 60);
}

.imagen{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imagen img{
  object-fit: contain;
  width: 100%;
}
.contenido
{
  width: 40%;
  height: 100%;
  padding: 10px 10px 10px 20px;

}

.acciones{
  display: flex;
}
.comentario{
  margin-left: 10px;
}
.mat-mdc-dialog-content{
  display: flex;
  align-items: center;
}
h1
{
  margin:0;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

p{
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo{
  margin-top: 10px;
}
@media (max-width: 765px) {
  .mat-dialog-content {
   display: block;
  }
  .imagen{
    width: 100%;
  }
  .contenido{
    width: 100%;
    margin: 0;
    padding-left: 10px;
  }
  .avatar{
    width: 10%;
  }
  .nombre{
    width: 90%;
  }
}
