
<div mat-dialog-content  class="mat-dialog-content"  style="width: 100%; height: 100%;padding: 0;">
  <div class="imagen">
    <img
      src="https://i.pinimg.com/originals/38/10/b3/3810b3d0436dfa7b7c5bdd336fc8834c.jpg"
      alt=""
    />
  </div>
  <div class="contenido">
    <div class="titulo">
      <h1>Título</h1>
      <p>asddasadsasd</p>
    </div>
    <div class="descripcion">
      <h1>Descripción</h1>
      <p>asddasadsasd</p>
    </div>
    <div class="categoria">
      <h1>Categoría</h1>
      <p>asddasadsasd</p>
    </div>
    <div class="lugar">
      <h1>Lugar</h1>
      <p>asddasadsasd</p>
    </div>
    <div class="acciones">
      <div class="like">
        <i class="input-icon uil uil-heart">4 Like</i>
      </div>
      <div class="comentario">
        <i class="input-icon uil uil-comment-dots">3 Comentario</i>
      </div>
    </div>
  </div>
</div>
<div
  mat-dialog-actions style="border-top: 1px solid ; border-color: rgb(129, 129, 129); display: flex; justify-content: space-between;">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button>Calificar</button>
</div>
