<div class="nav">
  <button class="boton1 logo" [routerLink]="['/home']">
    <img
      class="img-logo"
      src="https://res.cloudinary.com/darohu37k/image/upload/v1686505869/Minimizar%20img/Logotipo_V3_eur4rn.png"
      alt=""
    />
    <h1 class="texto-none">AMBIENTE SALUDABLE</h1>
  </button>

  <div class="componente">
    <button
      class="boton"
      [routerLink]="['/home']"
    >
      <i class="input-icon uil uil-home-alt"></i>
      <h2 class="texto-none-todo">Home</h2>
    </button>

    <button class="boton" (click)="openDialogSearch('200ms', '150ms')">
      <i class="input-icon uil uil-search"></i>
      <h2 class="texto-none-todo">Busqueda</h2>
    </button>

    <ng-container *ngIf="shouldShowComponentPhotoParticipante">
      <button
        class="boton crear-iphone"
        *ngIf="user?.rol === 'participante'"
        (click)="openDialog()"
      >
        <i class="input-icon uil uil-focus-add"></i>
        <h2 class="texto-none-todo">Crear</h2>
      </button>
    </ng-container>

    <ng-container *ngIf="user">
      <button
        *ngIf="user?.rol === 'participante'"
        class="boton"
        [routerLink]="['/profile/', user.id]"
        routerLinkActive="router-link-active"
      >
        <i class="input-icon uil uil-user"></i>
        <h2 class="texto-none-todo">Perfil</h2>
      </button>
    </ng-container>

    <ng-container *ngIf="shouldShowComponentCalificar">
      <button
        *ngIf="user?.rol === 'jurado'"
        class="boton"
        [routerLink]="['/calificacion']"
        routerLinkActive="router-link-active"
      >
        <i class="input-icon uil uil-edit"></i>
        <h2 class="texto-none-todo">Calificar</h2>
      </button>
    </ng-container>
    <ng-container *ngIf="shouldShowComponentReporteAdmin">
      <button
        *ngIf="user?.rol === 'admin'"
        class="boton"
        [routerLink]="['/reporte']"
        routerLinkActive="router-link-active"
      >
        <i class="input-icon uil uil-edit"></i>
        <h2 class="texto-none-todo">Reporte</h2>
      </button>
    </ng-container>

    <button class="boton" style="margin: 0%" (click)="abrirEnlaceVideo()">
      <i class="input-icon uil uil-video"></i>
      <h2 class="texto-none-todo">Tutorial</h2>
    </button>

    <button class="boton abrir" style="margin: 0%" (click)="logout()">
      <i class="input-icon uil uil-arrow-to-right"></i>
      <h2 class="texto-none-todo">Salir</h2>
    </button>
  </div>

  <button class="boton cerrar" style="margin: 0%" (click)="logout()">
    <i class="input-icon uil uil-arrow-to-right"></i>
    <h2 class="texto-none-todo">Salir</h2>
  </button>
</div>
<app-crear
  class="app-crear"
  *ngIf="showDialog"
  (closeDialog)="closeDialog()"
></app-crear>
