<div class="nav">
  <button class="boton1 logo">
    <img class="img-logo" src="https://res.cloudinary.com/darohu37k/image/upload/v1686505869/Minimizar%20img/Logotipo_V3_eur4rn.png" alt="">
    <h1 class="texto-none">AMBIENTE SALUDABLE</h1>
  </button>
  <div class="componente">

    <button class="boton">
      <i class="input-icon uil uil-home-alt"></i>
      <h2 class="texto-none-todo">Home</h2>
    </button>

    <button class="boton">
      <i class="input-icon uil uil-search"></i>
      <h2 class="texto-none-todo">Busqueda</h2>
    </button>

    <button class="boton crear-iphone" (click)="openDialog()">
      <i class="input-icon uil uil-focus-add"></i>
      <h2 class="texto-none-todo">Crear</h2>
    </button>

    <button class="boton">
      <i class="input-icon uil uil-user"></i>
      <h2 class="texto-none-todo">Perfil</h2>
    </button>

    <button class="boton cerrar">
      <i class="input-icon uil uil-arrow-to-right"></i>
      <h2 class="texto-none-todo">Salir</h2>
    </button>

  </div>
</div>
<app-crear class="app-crear" *ngIf="showDialog" (closeDialog)="closeDialog()"></app-crear>
