<div style="display: flex">
  <div class="imagen">
    <img
      class="img"
      [src]="post.imagen.imagen_url"
      alt="Imagen de referencia para calificar"
    />
  </div>
  <div class="contenido">

    <div class="rubrica">
    <p> {{user?.nombre|titlecase}}-{{user?.apellido|titlecase}} </p>

      <form [formGroup]="myForm"  (ngSubmit)="onSubmit(myForm.value)" >
        <table style="border: 1px solid">
          <tr>
            <th scope="row">Ponderación</th>

            <th>
              Contenido <br />
              30%
            </th>
            <th>
              Organización <br />estetica <br />
              25%
            </th>
            <th>
              Creatividad <br />
              20%
            </th>
            <th>
              Técnica <br />
              25%
            </th>
          </tr>

          <tr>
            <th
              style="
                background-color: rgba(8, 138, 8, 0.7);
                color: rgb(255, 255, 255);
              "
            >
              Sobresaliente <br />
              (10)
            </th>
            <td>
              <input
                class="sobre"
                type="radio"
                name="contenido"
                formControlName="contenido"
                value="10"
              />
            </td>
            <td>
              <input
                class="sobre"
                type="radio"
                name="organizacion"
                formControlName="organizacion"
                value="10"
              />
            </td>
            <td>
              <input
                class="sobre"
                type="radio"
                name="creatividad"
                formControlName="creatividad"
                value="10"
              />
            </td>
            <td>
              <input
                class="sobre"
                type="radio"
                name="tecnica"
                formControlName="tecnica"
                value="10"
              />
            </td>
          </tr>
          <tr>
            <th style="background-color: rgba(243, 247, 23, 0.7); color: black">
              Notable <br />
              (8)
            </th>

            <td>
              <input
                class="nota"
                type="radio"
                name="contenido"
                formControlName="contenido"
                value="8"
              />
            </td>
            <td>
              <input
                class="nota"
                type="radio"
                name="organizacion"
                formControlName="organizacion"
                value="8"
              />
            </td>
            <td>
              <input
                class="nota"
                type="radio"
                name="creatividad"
                formControlName="creatividad"
                value="8"
              />
            </td>
            <td>
              <input
                class="nota"
                type="radio"
                name="tecnica"
                formControlName="tecnica"
                value="8"
              />
            </td>
          </tr>

          <tr>
            <th style="background-color: rgba(237, 167, 3, 0.7); color: black">
              Aprobado <br />
              (6)
            </th>

            <td>
              <input
                class="apro"
                type="radio"
                name="contenido"
                formControlName="contenido"
                value="6"
              />
            </td>
            <td>
              <input
                class="apro"
                type="radio"
                name="organizacion"
                formControlName="organizacion"
                value="6"
              />
            </td>
            <td>
              <input
                class="apro"
                type="radio"
                name="creatividad"
                formControlName="creatividad"
                value="6"
              />
            </td>
            <td>
              <input
                class="apro"
                type="radio"
                name="tecnica"
                formControlName="tecnica"
                value="6"
              />
            </td>
          </tr>

          <tr>
            <th
              style="
                background-color: rgba(248, 27, 27, 0.7);
                color: rgb(255, 255, 255);
              "
            >
              Insuficiente <br />
              (2)
            </th>

            <td>
              <input
                class="insu"
                type="radio"
                name="contenido"
                formControlName="contenido"
                value="2"
              />
            </td>
            <td>
              <input
                class="insu"
                type="radio"
                name="organizacion"
                formControlName="organizacion"
                value="2"
              />
            </td>
            <td>
              <input
                class="insu"
                type="radio"
                name="creatividad"
                formControlName="creatividad"
                value="2"
              />
            </td>
            <td>
              <input
                class="insu"
                type="radio"
                name="tecnica"
                formControlName="tecnica"
                value="2"
              />
            </td>
          </tr>
        </table>
      <button *ngIf="!IsCalificated" mat-button color="primary" type="submit">Confirmar Calificación</button>

      </form>
    </div>
  </div>
</div>
